body {
    align-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 191, 107);
}

body>article {
    width: 50%;
    height: auto;
    align-self: center;
    justify-self: center;
}

body>article>header{
    text-align: center;
}